@import '~bpk-mixins';

.button {
  &__outer {
    padding: .2rem .5rem;
    transition: all .3s;
    border: none;
    border-radius: .2rem;
    background-color: #44aeff;
    background-image: linear-gradient(165deg, #6bc1ff, #44aeff);
    color: white;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1rem;

    &:focus,
    &:active,
    &:hover {
      background-image: linear-gradient(
        165deg,
        #87cfff,
        #44aeff,
        #87cfff,
        #44aeff,
        #87cfff,
        #44aeff,
        #87cfff,
        #44aeff,
        #87cfff,
        #44aeff,
        #87cfff,
        #44aeff,
        #87cfff,
        #44aeff,
        #87cfff,
        #44aeff
      );
      filter: saturate(2);
    }

    &--destructive {
      background-color: #a01b1b;
      background-image: linear-gradient(165deg, #e02626, #c92222);

      &:focus,
      &:active,
      &:hover {
        background-image: linear-gradient(
          165deg,
          #ff6565,
          #e02626,
          #ff6565,
          #e02626,
          #ff6565,
          #e02626,
          #ff6565,
          #e02626,
          #ff6565,
          #e02626,
          #ff6565,
          #e02626,
          #ff6565,
          #e02626,
          #ff6565,
          #e02626
        );
        filter: saturate(2);
      }
    }

    &--disabled {
      background-color: lightgray;
      background-image: none;

      &:focus,
      &:active,
      &:hover {
        background-color: lightgray;
        background-image: none;
      }
    }

    &--dark-text {
      color: #3c4451;
    }

    &--bouncy {
      padding: .1rem .5rem;
      transition: all .2s;
      background-color: transparent;
      background-image: none;

      &:focus,
      &:active,
      &:hover {
        background-color: #44aeff;
        color: white;
        fill: white;
        filter: saturate(1) brightness(1);
      }

      &--destructive {
        &:focus,
        &:active,
        &:hover {
          background-color: #e02626;
          background-image: linear-gradient(165deg, #e02626, #a01b1b);
        }
      }
    }
  }
}
